.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    background: linear-gradient(to right, rgb(33, 51, 71), white, rgb(33, 51, 71));
}

.pagination {
    margin-top: 20px;
}

.select-radio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-label {
    margin-right: 10px;
}