.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: linear-gradient(to right, rgb(33, 51, 71), white, rgb(33, 51, 71))}

.pagination {
    margin: 20px;
}

.show-selector {
    padding-bottom: 10px;
    right: 20%;
    position: absolute;
}